.surface-card {
  background-color: #121212;
  font-family: "Yantramanav", sans-serif;
  margin: 1rem 1rem 1rem 1rem;
}

.container {
  width: 90%;
  margin: auto;
}

._class_00 {
  color: whitesmoke;
}
